doctype html
html
    head
        title=title
        link(rel='stlesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
    body
        nav.container.navbar.navbar-expanded-lg.navbar-light.bg-light
          a.navbar-brand Ras Joh
           div.collapse.navbar-collapse
              ul.navbar-nav
                  li.nav-item
                       a(href="/").nav-link Home    
